.minecraft-server-box {
    width: calc(100% - 50px);
    height: 75px;
    border: 2px solid #fff;
    background: #111111;
    top: calc(50% + 50px);
    translate: 0% -50%;
    position: absolute;
}

#mc-server-icon {
    height: 71px;
    aspect-ratio: 1/1;
    position: absolute;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#mc-server-title {
    position: relative;
    left: 80px;
    font-size: 0.8rem;
    max-width: calc(100% - 80px);
}

#mc-server-motd {
    position: relative;
    left: 80px;
    font-size: 0.75rem;
    max-width: calc(100% - 80px);
    height: 48px;
}

.mc-motd-disconnected {
    color: #ff0000;
}

#mc-players {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 0.8rem;
}

#mc-ping {
    position: absolute;
    left: 50%;
    bottom: -25px;
    font-size: 0.8rem;
}

.jellyfin-server {
    width: calc(100% - 50px);
    height: fit-content;
    top: calc(50% + 20px);
    translate: 0% -50%;
    position: absolute;
}

#jellyfin-server-name {
    margin-top: 5px;
}

#jellyfin-server-name>i {
    font-size: 1rem;
    font-weight: 400;
    color: #aaaabb;
}

#jellyfin-location {
    text-decoration: none;
}

#servers {
}

#jellyfin-id {
    position: absolute;
    bottom: -50px;
    left: 5px;
    font-size: 0.8rem;
}

.server {
    border: 2px solid #222233;
    border-radius: 8px;
    width: 75vw;
    margin: 2.5vw;
    padding: 10px;
    position: relative;
}

.server-current {
    font-size: 1rem;
    font-weight: 400;
    color: #aaaabb;
}

.server-cpu, .server-mem {
    display: inline-block;
    margin-top: 5px;
}

.server-mem {
    position: absolute;
    right: 25px;
}
